* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    height: 100vh;
}

.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 9999;
    background-color: rgba(2, 120, 255, 0.185);
    background: linear-gradient(135deg,#8c98db,#ffffff);
    transition: transform 1.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.slide-up {
    transform: translateY(-100%);
}

.logo-container {
    text-align: center;
    animation: fadeInScale 1s ease-out;
}

.logo-placeholder {
    width: 1250px;
    height: 415px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    font-weight: bold;
    opacity: 0.7;
    box-shadow: 30px 140px 100px rgb(179, 182, 185);
    margin-bottom: 90px;
    border-radius: 100px;
    background: linear-gradient(135deg,#8c98db,#ffffff) ;
}

.welcome-text {
    color: rgb(63, 62, 62);
    font-size: 45px;
    font-weight: 300px;
    margin-top: 20px;
    opacity: 0.7;
}

.click-hint {
    position: absolute;
    bottom: 50px;
    color: rgb(0, 0, 0);
    font-size: 21px;
    opacity: 0.7;
    animation: pulse 12s infinite;
}

.row .card0{
    width: 10px;
}

@keyframes fadeInScale {
    from {
        opacity: 10;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes pulse {
    0%, 100% {
        opacity: 0.1;
    }
    70% {
        opacity: 0.3;
    }
}

.splash-screen:hover .logo-placeholder {
    transform: scale(1.04);
    transition: transform 0.3s ease;
}

