body {
    background: #95cde7;
    font-family: system-ui, sans-serif;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    padding: 25px 25px;
    border-radius: 30px;
    height: 120px;
    margin: 20px;
    
}
    


.the-serch {
    flex: 1;
    display: flex;
    justify-content: end;
    margin-right: 50px;
}
.search-1{
    width: 35%;
    border-radius: 30px;
    padding: 15px 30px 15px 30px;
    border: 1px solid rgba(128, 128, 128, 0.247);
    
}

.iconos {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon-btn {
    background: #fffefe;
    border: none;
    border-radius: 10px;
    padding: 8px 10px;
    cursor: pointer;
    font-size: 29px;
    
    
}




.perfil {
    display: flex;
    align-items: center;
    gap: 30px;
}   

.perfil img {
    width: 50px;
    height: 50px;
    border-radius: 30%;
}

.nombre-perfil {
    font-size: 23px;
    font-weight: 500;
}


.container-fluid {
display: flex;
height: 100vh;
}

.sidebar {
    width: 240px;
    background: #fff;
    padding: 20px;
    border-radius: 30px;
    margin: 20px;
}
.sidebar h5{
    color: gray;
}


.logo {
    font-weight: 700;
    margin-left: 30px;
    font-size: 35px;
}

.logo span {
    color: #3d7aff;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.menu a{
    color: rgba(83, 79, 79, 0.904);
    border-bottom: 1px solid rgba(71, 70, 70, 0.199);
}
.menu a:hover{
    background-color: #3d7aff;
    color: #fff;
    transition: 1s ;
    transform: scale(1.1);
}
.menu i{
    font-size: 30px;
    margin-right: 10px;
}

.menu-item {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}
.second-menu{
    margin-top: 50px;
    padding-top: 40px;
}


.main-content {
    flex: 1;
    background: #fff;
    margin: 20px 20px 20px 0;
    border-radius: 30px;
    padding: 30px;
}
.segundo-cont{
    display: flex;
    justify-content: end;
}
.btn-filter {
    padding: 8px 16px;
    background-color: #f8f9fa; 
    border: 1px solid #dee2e6;
    border-radius: 10px;
    color: #495057;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-bottom: 30px;
}

.btn-filter:hover {
    background-color: #e9ecef;
    border-color: #ced4da;
    color: #212529;
}


.principio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.principio p{
    font-size: 20px;
}
.principio h4{
    font-size: 50px;
}
.principio button{
    font-size: 30px;
    border-radius: 19px;
}

.tarea-card{
  background: #fff;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,.08);
}
#contenedor{
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
}

.oculto { display: none; }


